body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.container {
    padding-top: 160px;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    gap: 40px;
}

.stats {
    gap: 32px;
    display: flex;
    flex-direction: column;
}

.stat-card p {
    font-size: 24px;
    margin: 0;
    float: right;
    font-weight: 600;
}

.stat-card {
    padding: 20px 40px;
    border: 2px solid #000;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, .8);
    transition: all 0.3s ease;
    cursor: pointer;
    min-width: 320px;
    max-width: 320px;
}

.stat-card:hover {
    box-shadow: 0 8px 30px rgba(0, 0, 0, .9);
    transform: scale(1.1);
}

.stats2 .stat-card {
    border-left: 12px solid #808080;

}