/* Định dạng thanh cuộn */
::-webkit-scrollbar {
    width: 2px;
    /* Độ rộng của thanh cuộn */
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Màu nền của thanh cuộn */
}

::-webkit-scrollbar-thumb {
    background: #888;
    /* Màu của thanh cuộn */
    border-radius: 10px;
    /* Bo góc thanh cuộn */
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Màu khi hover */
}

.admin-header {
    background-color: #151515;
    color: white;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-self: start;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    max-height: 40px;
    z-index: 1000;
}

img {
    position: relative;
    left: -20px;
    width: 200px;
    cursor: pointer;
}

.header-left {
    display: flex;
    justify-content: center;
    width: 800px;
    gap: 80px;
    float: right;
    text-align: left;
    padding-left: 20px;
}

.header-left a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
}

.circle-effect {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.circle-effect a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
}

.circle-effect::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.5s ease;
    z-index: 0;
    border: 5px solid #fff;
}

.circle-effect a {
    position: relative;
    z-index: 1;
}

.circle-effect:hover::after {
    transform: translate(-50%, -50%) scale(1);
}