/* public/css/staff/changePassword.css */

body {
    font-family: sans-serif;
    background-color: #f8f9fa;
    /* Light gray background */
    color: #343a40;
    /* Dark gray text */
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    padding-top: 80px;
    /* background-color: #ffffff1a; */
    border-radius: 8px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

h1 {
    color: #343a40;
    /* Dark gray heading */
    margin-bottom: 25px;
    text-align: center;
}

.alert {
    padding: 10px 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #495057;
    /* Medium gray label */
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    /* Light gray border */
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    color: #495057;
    /* Medium gray text */
}

.form-control:focus {
    border-color: #000;
    /* Black focus border */
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
    /* Subtle black focus shadow */
}

.form-text {
    color: #6c757d;
    /* Light gray muted text */
    font-size: 0.875em;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-right: 10px;
}

.btn-primary {
    background-color: #000;
    /* Black primary button */
    color: #fff;
    /* White text on primary button */
}

.btn-primary:hover {
    background-color: #222;
    /* Darker black on hover */
    border-color: #222;
}

.btn-secondary {
    background-color: #6c757d;
    /* Medium gray secondary button */
    color: #fff;
    /* White text on secondary button */
    border-color: #6c757d;
}

.btn-secondary:hover {
    background-color: #5a6268;
    /* Darker gray on hover */
    border-color: #5a6268;
}