body.dark-mode {
    background-color: #1e1e1e;
    color: #f5f5f5;
}

.tilte.dark-mode {
    color: #eee;
}

.card-header.py-3.bg-primary.text-white.dark-mode,
.card-header.py-3.bg-info.text-white.dark-mode,
.card-header.py-3.bg-success.text-white.dark-mode {
    color: #ddd;
}