/* Dark Mode Styles */
body.dark-mode {
    background-color: #1e1e1e;
    color: #f5f5f5;
}



.manageUser-heading.dark-mode {
    color: #eee;
}



.table.dark-mode {
    background-color: #333;
    color: #eee;
}

.table.dark-mode thead th {
    background-color: #444;
    color: #ddd;
    border-bottom-color: #666;
}

.table.dark-mode tbody td {
    border-bottom-color: #555;
}

.table.dark-mode tbody tr:nth-child(even) {
    background-color: #444;
}

.btnInfo.dark-mode {
    background-color: #17a2b8;
    color: #fff;
}

.btnInfo.dark-mode:hover {
    background-color: #117a8b;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.btnDanger.dark-mode {
    background-color: #dc3545;
    color: #fff;
}

.btnDanger.dark-mode:hover {
    background-color: #c82333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.btnAdd.dark-mode {
    color: #eee;
    box-shadow: 0px 4px 8px #ffffff1a;
    border: 1px solid #eee;
    background-color: transparent;
}