/* dark-mode.css */
body.dark-mode {
    background-color: #1e1e1e;
    color: #f5f5f5;
}

.container-processedReports.dark-mode {
    /* Màu nền tối hơn nếu cần */
    /* background-color: #1e1e1e; */
}

.reportList_header.dark-mode {
    /* Màu nền tối hơn nếu cần */
    
}

.itemRow.dark-mode {
    border-color: #444;
    color: #eee;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.9);
}

.itemRow.dark-mode a {
    color: #eee;
    /* Màu chữ cho link trong dark mode */
}

.itemRow.all.dark-mode {
    border-left-color: #a9a9a9;
    /* Xám đậm hơn cho dark mode */
}

.itemRow.approved.dark-mode {
    border-left-color: #218838;
    /* Xanh đậm hơn cho dark mode */
    color: #218838;
}

.itemRow.rejected.dark-mode {
    border-left-color: #c82333;
    /* Đỏ đậm hơn cho dark mode */
    color: #c82333;
}

.itemRow.all.dark-mode .itemRow_content_bot {
    color: #a9a9a9;
}

.itemRow.approved.dark-mode .itemRow_content_bot {
    color: #218838;
}

.itemRow.rejected.dark-mode .itemRow_content_bot {
    color: #c82333;
}

.itemRow_content_top.dark-mode {
    color: #eee;
}

hr.dark-mode {
    color: #444;
}

form.dark-mode {
    /* Màu nền tối hơn nếu cần */
}

label.dark-mode {
    color: #eee;
}

select.dark-mode {
    border-color: #666;
    background-color: #333;
    color: #eee;
}

button.dark-mode {
    background-color: #333;
    color: #eee;
}

button.dark-mode:hover {
    background-color: #555;
}

.reportList_body.dark-mode {
    background-color: #333;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.reportList_body_top.dark-mode {}

.dropdown.dark-mode a {
    color: #eee;
}

.dropdown-menu.dark-mode {
    /* Màu nền tối hơn nếu cần */
}

table.dark-mode {
    /* Màu nền tối hơn nếu cần */
}

th.dark-mode {
    background-color: #444;
    color: #eee;
}

td.dark-mode {
    background-color: #222;
    color: #eee;
}

.badge.dark-mode {
    color: #222;
    /* Màu chữ badge trong dark mode */
}

.badge-success.dark-mode {
    background-color: #5cb85c;
    color: #222;
}

.badge-danger.dark-mode {
    background-color: #d9534f;
    color: #222;
}

.badge-warning.dark-mode {
    background-color: #f0ad4e;
    color: #222;
}

button.dark-mode {
    background-color: #555;
    color: #eee;
}

button.dark-mode:hover {
    background-color: #777;
}