/* Dark Mode Styles */
body.dark-mode {
    background-color: #1e1e1e;
    color: #f5f5f5;
}

.product-management-container.dark-mode {
    /* Màu nền container nếu cần */
}

h1.dark-mode {
    color: #eee;
}

.add-product-button.dark-mode {
    color: #eee;
    border-color: #eee;
    box-shadow: 0 8px 8px #ffffff2a;
    background-color: #ffffff1a;
}

.add-product-button.dark-mode:hover {
    background-color: #ffffff2a;
}

table.dark-mode {
    background-color: #333;
    color: #eee;
}

table.dark-mode thead th {
    color: #ddd;
    background-color: #444;
    border-bottom-color: #666;
}

table.dark-mode tbody td {
    border-bottom-color: #555;
}

table.dark-mode tbody tr:nth-child(even) {
    background-color: #444;
}

.edit-product-button.dark-mode {
    background-color: #0bbbd6;
    color: #fff;
    box-shadow: 0px 4px 8px #ffffff9a;
}

.edit-product-button.dark-mode:hover {
    background-color: #0a505b;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.2);
}

.delete-product-button.dark-mode {
    background-color: #f5021b;
    color: #fff;
    box-shadow: 0px 4px 8px #ffffff9a;
}

.delete-product-button.dark-mode:hover {
    background-color: #8d1b26;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.2);
}