/* dark-mode.css */
body.dark-mode {
    background-color: #1e1e1e;
    color: #f5f5f5;
    
}

.container.dark-mode {
    background-color: #333;
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.1);
}

h1.dark-mode {
    color: #eee;
}

.alert.alert-info.dark-mode {
    background-color: #3a3d40;
    color: #cce5ff;
    border-color: #b8daff;
}

table.dark-mode {
    color: #eee;
}

thead.dark-mode th {
    background-color: #444;
    color: #ddd;
    border-bottom-color: #666;
}

tbody.dark-mode td {
    background-color: #222;
    border-bottom-color: #444;
}

.btn.dark-mode {
    color: #eee;
    border-color: #666;
    box-shadow: 0px 4px 0px #000000;
    /* Loại bỏ bóng đổ đen */
}

.btn.dark-mode:hover {
    /* Màu hover tối hơn một chút */
    filter: brightness(1.1);
}

.btn-success.dark-mode {
    background-color: #28a745;
    /* Giữ nguyên màu xanh lá cây */
}

.btn-success.dark-mode:hover {
    background-color: #218838;
}

.btn-danger.dark-mode {
    background-color: #dc3545;
    /* Giữ nguyên màu đỏ */
}

.btn-danger.dark-mode:hover {
    background-color: #c82333;
}