</main>
<script src="/js/manager/dashboard.js"></script>
<script src="/js/manager/processedReports.js"></script>
<script src="/js/darkmode/admin/pendingReports.js"></script>
<script src="/js/darkmode/admin/chart.js"></script>
<script src="/js/darkmode/admin/manageUsers.js"></script>
<script src="/js/darkmode/admin/createProduct.js"></script>
<script src="/js/darkmode/admin/manageProducts.js"></script>
<script src="/js/darkmode/admin/editUser.js"></script>

</body>

</html>