<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/staff/changePassword.css">
    <link rel="stylesheet" href="/css/staff/header.css">
</head>

<body>
    <header class="admin-header">
        <div class="logo">Staff - Warehouse Management</div>
        <nav class="admin-nav">
            <ul>
                <li><a href="/staff/dashboard"><i class="fa-solid fa-house"></i></a></li>
                <li><a href="/staff/reports"><i class="fa-solid fa-book"></i> </a></li>
                <li><a href="/staff/reports/import"><i class="fa-solid fa-file-import"></i></i> </a></li>
                <li><a href="/staff/reports/export"><i class="fa-solid fa-file-export"></i></i> </a></li>
                <!-- <li><a href="/staff/change-password"><i class="fa-solid fa-key"></i> </a></li> -->
                <li id="user-header"><a href="#"><i class="fa-solid fa-user"></i> </a></li>
                <li><a href="/logout"><i class="fa-solid fa-right-from-bracket"></i> </a></li>
            </ul>
        </nav>
    </header>
    <main>
        <!-- Nội dung bảng báo cáo giữ nguyên -->
    </main>
</body>

</html>
<script>
    const menuUser = document.getElementById('user-header');
    menuUser.addEventListener('click', function () {
        const menu = document.querySelector('.menu-user');
        menu.classList.toggle('active');
    });
</script>
<style>
    .menu-user {
        display: none;
        position: absolute;
        top: 80px;
        right: 72px;
        background-color: #ffffffdf;
        border-radius: 5px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
        width: 200px;
        height: auto;
        z-index: 1000;
        text-align: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: .1s ease-in-out;
        color: #000000 !important;
    }

    .menu-user.active {
        display: flex;
    }

    .profile-header {
        display: flex;
        justify-content: left;
        align-items: center;
        width: 90%;
        border-bottom: 2px solid #0000009a;
        padding-bottom: 12px;
        padding-top: 12px;
    }

    .profile-header i {
        font-size: 40px;
        margin-right: 10px;
    }

    .profile-header.dark-mode i {
        font-size: 40px;
        margin-right: 10px;
    }

    .username {
        font-size: 18px;
        font-weight: bold;

    }

    .menu-user-item {
        width: 100%;
        padding: 16px 0;
        cursor: pointer;
    }

    .menu-user-item:hover {
        background-color: #0000001a;
    }

    .menu-user-link {
        text-decoration: none;
        color: #000000;
        font-size: 18px;
        font-weight: 600;

    }
</style>