<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>staff</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- CSS -->
    <link rel="stylesheet" href="/css/staff/header.css">

</head>

<body>
    <header class="admin-header">
        <div class="header-right">
            <img src="/images/logo.png" id="logo" alt="">
        </div>
        <div class="header-left">
            <div class="circle-effect">
                <a href="/staff/dashboard"><i class="fa-solid fa-house"></i></a>
                <span class="tooltip">Home</span>
            </div>
            <div class="circle-effect" id="report-header">
                <a href="#"><i class="fa-solid fa-file"></i></a>
                <span class="tooltip">Create E-I report</span>
            </div>
            <div class="circle-effect">
                <a href="#"><i class="fa-solid fa-right-left"></i></a>
                <span class="tooltip" style="margin-left: 4px;">Create T-W report</span>
            </div>
            <div class="circle-effect" id="darkModeToggle">
                <!--dark mode -->
                <a><i class="fa-solid fa-moon"></i></a>
                <span class="tooltip">Darkmode</span>
            </div>
            <div class="circle-effect" id="user-header">
                <a href="#"><i class="fa-solid fa-user"></i></a>
                <span class="tooltip">Yoursefl</span>
            </div>
            <div class="circle-effect" id="logout-header">
                <a><i class="fa-solid fa-right-from-bracket"></i></a>
                <span class="tooltip">Logout</span>
            </div>

        </div>
    </header>
    <main>
        <!-- modal user -->
        <div class="menu-user modal">
            <div class="profile-header">
                <i class="fa-solid fa-circle-user"></i>
                <div class="username">
                    <%= user.username %>
                </div>
            </div>
            <div class="menu-user-item" id="userItem-change-password">
                <i class="fa-solid fa-key"></i>
                <a href="#" class="menu-user-link">Change password</a>
            </div>
            <div class="menu-user-item" id="userItem-personal">
                <i class="fa-solid fa-user"></i>
                <a href="#" class="menu-user-link">Personal information</a>
            </div>
        </div>
        <!-- modal report handle -->
        <div class="menu-report-handle modal">
            <div class="menu-report-item" id="reportItem-export">
                <i class="fa-solid fa-file-export" style="color: green;"></i>
                <a href="#" class="menu-user-link">Create export </a>
            </div>
            <div class="menu-report-item" id="reportItem-import">
                <i class="fa-solid fa-file-import" style="color: red;"></i>
                <a href="#" class="menu-user-link">Create import</a>
            </div>
        </div>
        <!-- modal logout -->
        <div class="logout-modal modal">
            <div class="logout-modal-content">
                <h2>Are you sure you want to log out?</h2>
                <div class="logout-modal-buttons">
                    <a href="/logout" class="logout-button">Logout</a>
                    <button class="cancel-button">Cancel</button>
                </div>
            </div>
        </div>
        <!-- modal clock -->
        <div class="clock" id="clock"></div>
        <script>

            const logo = document.getElementById('logo');
            const logoutHeader = document.getElementById('logout-header');
            const logoutModal = document.querySelector('.logout-modal');
            const cancelButton = document.querySelector('.cancel-button');
            const menuReportHandle = document.querySelector('.menu-report-handle');
            const reportHeader = document.getElementById('report-header');

            logo.onclick = function () {
                window.location.href = '/staff/dashboard';
            }
            function userHandle() {
                const menuUser = document.getElementById('user-header');
                const menu = document.querySelector('.menu-user');
                const userItemChangePassword = document.getElementById('userItem-change-password');
                const userItemPersonal = document.getElementById('userItem-personal');

                userItemChangePassword.addEventListener('click', function () {
                    window.location.href = '/staff/change-password';
                });

                userItemPersonal.addEventListener('click', function () {
                    window.location.href = '/staff/personal';
                });

                menuUser.addEventListener('click', function (event) {
                    menu.classList.toggle('active');
                    event.stopPropagation(); // Ngăn chặn sự kiện click lan ra ngoài
                });

                document.addEventListener('click', function () {
                    if (menu.classList.contains('active')) {
                        menu.classList.remove('active');
                    }
                });
            }

            function reportHandle() {
                const reportItemExport = document.getElementById('reportItem-export');
                const reportItemImport = document.getElementById('reportItem-import');

                reportItemExport.addEventListener('click', function () {
                    window.location.href = '/staff/reports/export';
                });

                reportItemImport.addEventListener('click', function () {
                    window.location.href = '/staff/reports/import';
                });

                reportHeader.addEventListener('click', function (event) {
                    menuReportHandle.classList.toggle('active');
                    event.stopPropagation(); // Ngăn chặn sự kiện click lan ra ngoài
                });

                document.addEventListener('click', function () {
                    if (menuReportHandle.classList.contains('active')) {
                        menuReportHandle.classList.remove('active');
                    }
                });
            }

            logoutHeader.addEventListener('click', function (event) {
                logoutModal.classList.toggle('active');
                event.stopPropagation(); // Ngăn chặn sự kiện click lan ra ngoài
            });
            cancelButton.addEventListener('click', function () {
                logoutModal.classList.remove('active');
            });

            // JS ĐỒNG HỒ
            function updateClock() {
                const now = new Date();
                const hours = String(now.getHours()).padStart(2, '0');
                const minutes = String(now.getMinutes()).padStart(2, '0');
                const seconds = String(now.getSeconds()).padStart(2, '0');

                const day = String(now.getDate()).padStart(2, '0');
                const month = String(now.getMonth() + 1).padStart(2, '0'); // Tháng bắt đầu từ 0
                const year = now.getFullYear();

                const timeString = `${hours}:${minutes}:${seconds}`;
                const dateString = `${day}/${month}/${year}`;

                document.getElementById('clock').textContent = `${dateString} ${timeString}`;
            }

            userHandle();
            reportHandle();
            // Cập nhật đồng hồ mỗi giây
            setInterval(updateClock, 1000);

            // Cập nhật đồng hồ ngay khi tải trang
            updateClock();
        </script>