body {
    font-family: sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
    transition: background-color 0.2s ease;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.changePassword-heading {
    color: #343a40;
    margin-bottom: 25px;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 40px;
}

.alert {
    padding: 10px 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

#changePasswordForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #000;
}


.changePassword-form-control {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    color: #495057;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #000;

}

.changePassword-form-control:focus {
    border-color: #000;
    outline: 0;
}

.form-text {
    color: #6c757d;
    font-size: 0.875em;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    padding-top: 15px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
    background-color: #000;
    color: #fff;
}

.btn-primary:hover {
    background-color: #222;
    border-color: #222;
}

.btn-secondary {
    background-color: #6c757d;
    color: #fff;
    border-color: #6c757d;
}

.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #5a6268;
}

.changePassword-heading.dark-mode {
    color: #ddd;
}

label.dark-mode {
    color: #ddd;
}

body.dark-mode {
    background-color: #151617;
}

.changePassword-form-control.dark-mode {
    background-color: transparent;
    color: #ffffff;
    border: none;
    border-bottom: 2px solid #ddd;

}