/* General styles (you might have these already) */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f6f9;
    color: #333;
    line-height: 1.6;
    transition: background-color 0.3s ease;

}

.btnAdd {
    color: #ffffff;
    border-radius: 8px;
    border: 1px solid #000;
    padding: 20px 8px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    margin-left: 24px;
    display: flex;
    gap: 20px;
    max-width: 200px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 8px #0000002a;
    transition: .3s;
    background-color: #0000005a;
}

.btnAdd:hover {
    background-color: #0000009b;
}

.btnAdd i {
    font-size: 24px;
    font-weight: bold;
    transition: .3s;
}

.btnAdd:hover i {
    transform: rotate(90deg);
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 30px;
}

.container {
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}



table {
    align-self: center;
    width: 95%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #fff;
    transition: background-color 0.3s ease;

}

table thead th {
    background-color: #f8f9fa;
    color: #333;
    font-weight: bold;
    text-align: left;
    padding: 12px;
    border-bottom: 2px solid #ddd;
    transition: background-color 0.3s ease;

}

table tbody td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #eee;
    transition: background-color 0.3s ease;

}

table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
    transition: background-color 0.3s ease;

}



.btnInfo {
    background-color: #0bbbd6;
    color: #fff;
    box-shadow: 0px 4px 8px #0000009a;
    transition: background-color 0.3s ease;
    padding: 5px 10px;
    font-size: 0.875rem;
    border-radius: 3px;
    text-decoration: none;
    font-weight: 600;

}

.btnInfo:hover {
    background-color: #0a505b;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.btnDanger {
    background-color: #f5021b;
    color: #fff;
    box-shadow: 0px 4px 8px #0000009a;
    transition: background-color 0.3s ease;
    padding: 5px 10px;
    font-size: 0.875rem;
    border-radius: 3px;
    text-decoration: none;
    font-weight: 600;

}

.btnDanger:hover {
    background-color: #8d1b26;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}